node_modules
.DS_Store
tmp/
venv
docassemble/jcc/abilitytopay/data/questions/code2.yml
tools/translations-es.xlsx
tools/translations-zh-s.xlsx
tools/translations-zh-t.xlsx
*.pyc
tools/translations-es.old.xlsx
tools/translations-zh-t.old.xlsx
tools/translations-zh-s.old.xlsx
