node_modules
package-lock.json
package.json
yarn.lock
.DS_Store
tmp/
venv
docassemble/jcc/abilitytopay/data/questions/code2.yml
tools/translations-es.xlsx
tools/translations-zh-s.xlsx
tools/translations-zh-t.xlsx
*.pyc
