/* Custom Stuff Here */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Lato');

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #0B5FA5;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #c53b00;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #2b9999;
$teal:    #20c997;
$cyan:    #1b97e0;
$gold:    #f4ac3b;
$blue-100: #e8f0fa;
$blue-500: #1b97e0;
$blue-800: #244f73;
$blue-900: #13293d;
$olive-100: #f3f5ee;
$olive-500: #73877B;

$primary:       $gold;
$secondary:     $blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $blue-100;
$dark:          $blue-800;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $gray-900;

// Links
//
// Style anchor elements.

$link-color:                $blue;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;

// Components
//
// Define common padding and border radius sizes and more.

$border-width:                1px;
$border-color:                $gray-300;

$border-radius:               .25rem;

// Fonts
//

$font-family-sans-serif:      "Lato", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$line-height-base:            1.5;

$hero-font-size:              $font-size-base * 3; // 48
$h1-font-size:                $font-size-base * 2.5; // 40
$h2-font-size:                $font-size-base * 2; // 32
$h3-font-size:                $font-size-base * 1.75; // 28
$h4-font-size:                $font-size-base * 1.5; // 24
$h5-font-size:                $font-size-base * 1.25; // 20
$h6-font-size:                $font-size-base; // 16

$headings-font-family:        "Lora", Georgia, Times, serif;
$headings-font-weight:        500;

// Buttons + Forms
//

$input-btn-padding-y:         .75rem;
$input-btn-padding-x:         1rem;
$input-btn-line-height:       $line-height-base;

$input-btn-focus-width:       .2rem;
$input-btn-focus-color:       #daebf9;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;

// Buttons
//

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               1.25rem;
$btn-line-height:             1.625rem;

// $btn-border-width:            $input-btn-border-width;

// $btn-font-weight:             $font-weight-normal;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
// $btn-focus-width:             $input-btn-focus-width;
// $btn-focus-box-shadow:        $input-btn-focus-box-shadow;
$btn-disabled-opacity:        .65;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125);

$btn-link-disabled-color:     $gray-600;

// Forms

$label-margin-bottom:                   .5rem;

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-line-height:                     $input-btn-line-height;

$input-bg:                              $white;
$input-disabled-bg:                     $gray-200;

$input-color:                           #1b1c1a;
$input-border-color:                    #c3c3c3;
// $input-border-width:                    $input-btn-border-width;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075);

$input-height:                          3.25rem;

// $input-border-radius:                   $border-radius;

// $input-focus-bg:                        $input-bg;
$input-focus-border-color:              #5c7393;
// $input-focus-color:                     $input-color;
// $input-focus-width:                     $input-btn-focus-width;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow;

$input-placeholder-color:               $gray-600;
// $input-plaintext-color:                 $body-color;

// $input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$form-text-margin-top:                  .25rem;

$form-check-input-gutter:               1.25rem;
$form-check-input-margin-y:             .3rem;
$form-check-input-margin-x:             .25rem;

$form-check-inline-margin-x:            .75rem;
$form-check-inline-input-margin-x:      .3125rem;

$form-group-margin-bottom:              1rem;

// Form validation
// $form-feedback-margin-top:          $form-text-margin-top;
// $form-feedback-font-size:           $small-font-size;
$form-feedback-valid-color:         theme-color("success");
$form-feedback-invalid-color:       theme-color("danger");

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          .75rem;
$table-cell-padding-sm:       .3rem;

$table-bg:                    transparent;
$table-accent-bg:             rgba($black, .05);
$table-hover-bg:              rgba($black, .075);
$table-active-bg:             $table-hover-bg;

$table-border-width:          $border-width;
$table-border-color:          $gray-300;

$table-head-bg:               $gray-200;
$table-head-color:            $gray-700;

$table-dark-bg:               $gray-900;
$table-dark-accent-bg:        rgba($white, .05);
$table-dark-hover-bg:         rgba($white, .075);
$table-dark-border-color:     lighten($gray-900, 7.5%);
$table-dark-color:            $body-bg;

$table-striped-order:         odd;

$table-caption-color:         $text-muted;

// Progress bars

$progress-height:                   .5rem;
$progress-font-size:                ($font-size-base * .75) !default;
$progress-bg:                       $gray-100;
$progress-border-radius:            $border-radius !default;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) !default;
$progress-bar-color:                $white !default;
$progress-bar-bg:                   $primary;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;

$table-accent-bg:            $olive-100;
$table-cell-padding:         1rem .75rem;


@import "../node_modules/bootstrap/scss/bootstrap";

.da-has-error {
  color: $red;
  font-family: $headings-font-family;
  font-style: italic;
  margin-top: .5rem;
  display: inline-block;

  input[type="text"] {
    border-color: $danger;
    box-shadow: 0 0 0 .1rem $danger;
  }
}

.form-group {
  &.has-error {
    background-color: #fdf6f5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: 4px solid $danger;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 11px;
    padding-right: 15px;
  }
}

input.labelauty + label {
  display: flex !important;;

  &.btn-light,
  &.btn-primary {
    padding: .6875rem;
    border: 1px solid $border-color;
  }

  &.btn-light {
    background-color: $white;

    &:hover, 
    &:focus {
      background-color: $blue-100;
    }
  }

  &.btn-primary {
    background-color: $blue-100;

    &:hover, 
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: darken($blue-100, 15%);
    }
  }

  .svg-inline--fa {
    display: none;
  }

  .labelauty-unchecked-image, 
  .labelauty-checked-image {
    box-shadow: 0 0 0 1px $gray-500;
    height: 1rem;
    width: 1rem;
    line-height: 1;
  }

  .labelauty-unchecked-image {
    background-color: $white;
  }

  .labelauty-checked-image {
    display: none;
    box-shadow: 0 0 0 1px $gray-500;
    background-color: $cyan;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAAXNSR0IArs4c6QAAAQhJREFUOBGtky2LAlEUhsdPRCyC+AMMBoMgGywWQSxG/4DNIEaTYFo22mxu2bjJZrFZphj8JSJ+rmV8XpkBZ4YdxfHCwz3n3HOeGeYyhvGGZVlWAYZSxcP6EBVxmJAlzoXyISjBBi5wgOTLQobLsIUzrCEdRvaBYGfLVuwZl4xC1lUISOitgmQnMMH9ZhTyoDUK8NyO6KnBHiRbQso3Q7ECWkf48jXYBc7qoA8v2QL+vwAOeyChGHul1Jr2mWRzSHh7fDlNA3tI0onTQNy6q8+IY87Zw53mPugtJJ1C4y7/JY4+lHgbGOqChH+g21T8AxFv79M5wx3QBegv+IbXZc5TkbTh08mf3a8D6CoIuED3eQAAAABJRU5ErkJggg==);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 80%;
  }
}

input.labelauty:checked + label > span.labelauty-checked-image {
  display: block;
}

input.labelauty + label > span.labelauty-unchecked-image, 
input.labelauty + label > span.labelauty-checked-image {
  height: 1.875rem !important;
  width: 1.875rem !important;
  min-width: 1.875rem;
  border-radius: 3px;
}

input.labelauty + label > span.labelauty-unchecked, 
input.labelauty + label > span.labelauty-checked {
  margin-left: .6875rem !important;
  padding-top: 3px;
  line-height: 1.5rem !important;
}

input.labelauty.radio-icon + label {
  align-items: center;

  > span.labelauty-unchecked-image,
  > span.labelauty-checked-image {
    border-radius: 50%;
    height: 1.75rem !important;
    width: 1.75rem !important;
    min-width: 1.75rem !important;
  }

  > span.labelauty-checked-image {
    background-image: none !important;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px $info;
    height: 1.25rem !important;
    width: 1.25rem !important;
    min-width: 1.25rem !important;
    margin-top: 2px;
    margin-left: 4px;
  }

  &.btn-primary {
    min-height: 3.25rem;
  }

  > span.labelauty-checked {
    padding-left: 4px;
    padding-top: 0;
  }

  > span.labelauty-unchecked {
    padding-top: 0;
  }
}


input[type="text"], input[type="email"], input[type="date"] {
  height: $input-height !important;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url(data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+Y2Fycm90LWRvd248L3RpdGxlPgo8cGF0aCBkPSJNMC4yIDEwLjRsMTQuNCAxNC40YzAuOCAwLjggMiAwLjggMi42IDBsMTQuNC0xNC40YzAuNC0wLjQgMC40LTEgMC4yLTEuNGwtMS40LTEuNGMtMC40LTAuNC0xLTAuNC0xLjQgMGwtMTIuNCAxMi40Yy0wLjQgMC40LTEgMC40LTEuNCAwbC0xMi4yLTEyLjJjLTAuNC0wLjQtMS0wLjQtMS40IDBsLTEuNCAxLjJjLTAuMiAwLjQtMC4yIDEgMCAxLjR6Ij48L3BhdGg+Cjwvc3ZnPgo=);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  width: 100%;
}

.tab-pane {
  margin-top: 4rem;
  margin-left: 0 !important;
  
  @include media-breakpoint-up(lg) {
    flex: 0 0 65%;
    max-width: 65%;
  }

  p {
    em {
      font-family: $headings-font-family;
      font-size: $h5-font-size;
      font-style: normal;
      padding-bottom: 1rem;
      display: inline-block;

      @include media-breakpoint-up(md) {
        font-size: $h3-font-size;
        line-height: 2.5rem;
      }
    }
  }
}

.navbar {
  &.navbar-dark,
  &.bg-dark {
    background-color: $blue-900 !important;
    border-bottom: 4px solid $blue;
    padding: .75rem 1rem .75rem;

    .nav-link {
      color: $white;

      &:hover, 
      &:focus {
        color: $white;
      }
    }

    .text-muted {
      color: $white;
    }

    .navbar-brand {
      color: $white;
    }
  }
}

.page-header {
  border-bottom: 0 !important;

  h3 {
    font-size: $h2-font-size;
    color: $blue-800;

    @include media-breakpoint-up(md) {
      font-size: $hero-font-size;
    }
  }
}

.btn {
  letter-spacing: 1px;
}

.form-actions {
  margin-top: 4rem;

  .btn-success {
    background-color: #f29d17;

    &:focus {
      background-color: #f29d17;
    }

    &:active,
    &.active {
      background-color: #f29d17;
    }
  }
}

.col-form-label {
  &.col-md-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    text-align: left !important;
  }

  em {
    font-family: $headings-font-family;
    font-size: $h5-font-size;
    font-style: normal;
  }
}

.fieldpart {
  &.col-md-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.yesnospacing {
  .col-md-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .offset-md-4 {
    margin-left: 0 !important;
  }
}

.form-group.required .col-form-label:after {
  content: '' !important;
}

.danavcontainer {
  position: relative;
}

.dabackicon {
  position: absolute;
  bottom: -50px;
  left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: underline;
  letter-spacing: .5px;

  @include media-breakpoint-up(sm) {
    left: 20px;
  }

  &.text-muted {
    color: $info !important;
  }
}

.navbar-brand {
  margin-right: 0;
}

.input-group-text {
  background-color: transparent;
  border-right: 0;
}

.input-group > .form-control:not(:first-child), 
.input-group > .custom-select:not(:first-child) {
  border-left: 0;
}

.showif {
  .form-group {
    margin-right: -3rem;
    margin-bottom: 0;
    margin-left: -3rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.1rem;
    border-left: 4px solid $cyan;

    &.has-error {
      border-left: 4px solid $red;
    }
  }
}

.table-card {
  table-layout: fixed;

  thead {
    display: none;
  }

  tbody tr {
    display: block;
    background: $olive-100;
    border-top: 5px solid $olive-500;
    margin-bottom: 1rem;
  }

  tbody td {
    display: block;
    border-top: 0;
    padding: .25rem .75rem;
    padding-left: 40%;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 1rem;
    }

    &:before {
      content: attr(data-title);
      display: table-cell;
      position: absolute;
      vertical-align: middle;
      left: 2rem;
    }

    &.table-card_radio {
      padding: 0;
    }
  }
}

.info-card {
  padding: 1rem;
  background: $olive-100;
  border-top: 5px solid $olive-500;

  dl {
    display: grid;
    grid-template: auto / 10em 1fr;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

/* Hide everything except back button */
.navbar { 
  .mynavbar-right, 
  #mobiletoggler, 
  #navbar-collapse, ul,
  &.navbar-dark .navbar-toggler {
    display: none !important;
  }
}
